@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --red: #CC0001;
    --yellow: #FECB00;
    --yellow2: #CB3711;
    --orange-dark: #FF9905;
    --orange-light: #FFB13F;
    --orange1: #FFA000;
    --orange: #CB3711;
    --green: #A1C646;
    --text-black: #3E3D3D;
    --text-grey: #7E7C7D;
}
body {
    min-height: 100vh;
    background: url('../image/blob-orange.svg') no-repeat bottom right 40%,
                url('../image/blob-green.svg') no-repeat  center / 120%;
    font-family: 'Lato', sans-serif;
    color: var(--text-black);
}

li {
    list-style-type: none;
}

/* #burger-btn {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.burger-btn-span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #3CB371;
    border: 1px solid #000;
} */

.answers-item label {
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 0 0 10px 10px;
    min-width: 60px;
    text-align: center;
}

.answers-item label:hover {
    border: 2px solid rgba(0,0,0,0.5);
}

input:checked + label{
    border: 2px solid #3CB371;
    color: #3CB371;
}

label span {
    font-size: 14px;
}

.answerImg {
    width: 100%;
}

.answers-item {
    width: 80px;
}

.logo {
    background-color: var(--orange);
    border-radius: .25rem;
    padding: .375rem .75rem;
}

.logo-img {
    width: 30px;
    height: 30px;
    background: url('../image/burger.png') center no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.logo-text {
    color: var(--yellow);
    font-weight: 700;
}

.logo-text, .contacts, .main-title, .btn-text {
    margin-bottom: 0;
}

.content {
    width: 300px;
    height: 300px;
    background: url('../image/hero-burger.png') no-repeat;
    background-size: 300px 300px;
}

.modal {
    background: rgba(0,0,0, 0.5);
}

.modal-content {
    background: #E0FFFF;
    /* color: #3CB371; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: black;  */
}

.btn{
    display: flex !important;
    background-color: var(--orange) !important;
    color: var(--yellow) !important;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:visited{
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btn:hover span,
.btn:active span,
.btn:focus span,
.btn:visited span{
    color: #fff;
}

.btn .btn-text {
    font-weight: 700;
}

.btn .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 0;
    margin-left: 15px;
}